<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- TODO include head -->
    <%- include('./partials/head.ejs'); %>
    <title>LEGO Webstore - <%= title %> </title>
  </head>

  <header>
    <%- include('./partials/nav.ejs'); %>
  </header>
  
  <body>
    <!-- TODO include nav -->
    <hr/>
    <%- body %>
      <!-- TODO include page -->
    <!-- Modal Compte-->
    <div class="modal " id="connexion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Compte</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <label for="email">Identifiant</label>
              <input type="email" name="email" required /><br/>
              <label for="password">Mot de passe</label>
              <input type="password" name="password" required /><br/>
          </div>
          <div class="modal-footer">
            <input type="submit" name="connexion" value="Connexion" class="btn btn-secondary"/>
            </form>
            <a type="button" class="btn btn-primary" href="/inscription">Inscription</a>
          </div>
        </div>
      </div>
    </div>
  </body>
  
  <hr/>
  
  <!-- TODO include footer -->
  <footer class="footer">
    <%- include('./partials/footer.ejs'); %>
  </footer>
</html>
