<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- TODO include head -->
    <%- include('./partials/head.ejs'); %>
    <title>LEGO Webstore - <%= title %> </title>
  </head>

  <header>
    <%- include('./partials/nav.ejs'); %>
  </header>
  
  <body>
    <!-- TODO include nav -->
    <hr/>
    <%- body %>
      <!-- TODO include page -->
    <!-- </div> -->
  </body>
  
  <hr/>
  
  <!-- TODO include footer -->
  <footer class="footer">
    <%- include('./partials/footer.ejs'); %>
  </footer>
</html>
